{

  "env": {
    "production": {
      "presets": [
        [
          "env", {
            "loose": true,
            "modules": false,
            "target": ["ie 10"],
            "useBuiltIns": "entry"
          }
        ],
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    },
    "testing": {
      "presets": [
        [
          "env", {
            "loose": true,
            "modules": "commonjs",
            "target": ["ie 10"],
            "useBuiltIns": "entry"
          }
        ],
        "stage-0",
        "react"
      ],
    },
    "development": {
      "presets": [
        [
          "env", {
            "loose": true,
            "modules": false,
            "target": ["ie 10"],
            "useBuiltIns": "entry"
          }
        ],
        "stage-0",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
