# Dependencies
/node_modules
/vendor

# Editors
/.idea
/.vagrant

# Environment
.env
.vagrant
/storage/*.key

# Homestead
Homestead.json
Homestead.yaml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Public
/public/hot
/public/storage
/public/css/*
/public/js/*
/public/fonts/*
/public/mix-manifest.json
